#playlist-organizer-settings-root{
    background: #333;
    color: #ccc;

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    #playlist-organizer-settings{
        box-sizing: border-box;
        margin-top: $ytb-masthead-height;
        padding: $margin;
        width: $settings-width;

        h2, p{
            margin: 10px 0;
        }
    
        h2 {
            font-size: 2em;
    
            &:not(:first-child) {
                margin-top: $margin;
            }
        }
    
        p {
            font-size: 1.5em;
        }
    
        input{
            margin-top: 10px;
            padding: 5px;
            display: block;
        }
    
        button{
            cursor: pointer;
            padding: 5px;
        }
    }
}

#playlist-organizer-root{
    background: #333;
    color: white;

    position: fixed;
    top: 0;
    right: $settings-width;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    #playlist-organizer{
        margin-top: $ytb-masthead-height;

        .action-group{
            margin-bottom: $margin;

            &:last-child{
                margin-bottom: 0;
            }

            .dropzone{
                $height: 100px;

                background: rgba(black, 0.75);
                color: white;
                font-size: 3em;
                line-height: $height;
                height: $height;
                min-width: 300px;

                margin: 1px 0;
                padding: 0 $margin;
                position: relative;

                &.highlight:before{
                    background: rgba(black, 0.2);
                    border: 5px dashed white;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5px; bottom: 5px;
                    left: 5px; right: 5px;
                }

                &.remove{
                    background: #824040;
                }
            }
        }
    }
}

.draggable-video {
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;

    &:before{
        border: 5px dashed grey;
        content: '';
        display: block;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: 0;
    }

    &.dragging:before{
        background: rgba(black, 0.2);
        border-color: white;
    }
}
