name: Release Build

on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - README.md
      - .vscode
      - .editorconfig
      - .gitignore

env:
  AUTO_TAG: latest
  AUTO_TITLE: Latest Build

jobs:
  release-build:
    name: Release Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run linter
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Update current release
        uses: Trinovantes/action-automatic-release@master
        id: update_current
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          is_prerelease: false

      - name: Upload asset to current release
        uses: Trinovantes/action-release-upload@master
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.update_current.outputs.release_id }}
          upload_url: ${{ steps.update_current.outputs.upload_url }}
          files: ./dist/*.user.js

      - name: Update latest build release
        uses: Trinovantes/action-automatic-release@master
        id: update_latest
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          auto_release_tag: ${{ env.AUTO_TAG }}
          auto_release_title: ${{ env.AUTO_TITLE }}
          is_prerelease: false

      - name: Upload Asset to latest build release
        uses: Trinovantes/action-release-upload@master
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.update_latest.outputs.release_id }}
          upload_url: ${{ steps.update_latest.outputs.upload_url }}
          files: ./dist/*.user.js
